.venv/
.git/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/sales_train_evaluation.csv
data/raw/sales_train_validation.csv
data/raw/sell_prices.csv
data/raw/sample_submission.csv
data/raw/*.zip

notebooks/
airflow/logs/
monitoring/
results/
