# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Data (DVC-tracked, not git-tracked)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.csv
*.parquet

# MLflow
mlruns/
mlartifacts/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

# Env / secrets
.env
kaggle.json
access_token

# OS / editor
.DS_Store
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
